*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    line-height: 1.5em;
    width: 100%;
}

#form{
    position: relative;
    width: 600px;
    height: 500px;
    background:hsla(0, 0%, 98%, 0);
    border: 2px solid rgba(104, 104, 104, 0.219);
    text-align:center;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    margin-left: 2em; 
    margin-bottom: 40px;
    font-size: larger;
    /* display: table-column; */
}
.block{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    gap: -1em;
}
h2{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top:  1em;
    margin-bottom: 3em;
    font-family:initial;
    color:orangered;
    font-size: 29px;
    font-weight: 700;
}
h2:hover{
   color: #167ebb
}
label{
    color: rgb(41, 41, 41);
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: -1em;
    margin-right: -1em;
    margin-left: -1em;
    position:relative;
    top: -2.5em;
    left: 7em;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
input{
    color: black;
    font-weight: bold;
    border-radius: 2px;
    margin-right: -1.5em;
    width:  30em;
    height: 50px;    
}
:placeholder-shown{
    height: 50px;
    border-radius: 2px;
    width: 30em;
    border-radius: .5em;
    text-align: center;
}
.icon{
    width: 30em;
    color: rgb(41, 41, 41);
    font-weight: bold;
    position:relative;
    top: 1.5em;
    right: -2.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: .5em; 
}
.btn1{
    text-align: center;
    align-items: center;
    width: 30.5em;
    font-weight: bolder;
    height: 60px;
    color: rgb(0, 0, 0);
    background: #00d9ff;
    margin: 1.5em 1.8em;
    border-radius: .5em;
    cursor: pointer;
}
.btn1:hover{
    background: orangered;
}
a{
    margin: 0em 1.2em;
    list-style-type: none;
    list-style: none;
    text-decoration: none;

}
p{
    color: black;
    font-weight: lighter;
    margin: 0em 1.2em;
}



@media screen and (max-width:800px) {
    #login{
        width: 100%;
    }
}
