<nav
    class="flex md:flex md:items-center md:justify-between justify-between p-4 bg-purple-900 text-white techno:bg-red-700">
    <div class="">
        <h1 class="text-xl cursor-pointer hover:text-cyan-500 duration-500">BADGE MARKET</h1>
    </div>
    <span>
        
    </span>
    <div class="flex justify-between space-x-4 ">
        <div class="md:items-center md:flex z-[-1] md:z-auto md:static absolute decoration-white text-red-700 w-full left-0 md:w-auto md:py-0 py-4 
        md:p1-0 p1-7 md:bg-opacity-100 top-[-400px] transition-all ease-in duration-500">
            <div class="mx-4 my-6 md:my-0">
                <a href="/home" class="text-xl hover:text-cyan-500 duration-500 text-white">HOME</a>
            </div>
            <div class="mx-4 my-6 md:my-0">
                <a href="/products" class="text-xl hover:text-cyan-500 duration-500 text-white">PRODUCTS</a>
            </div>
            <div class="mx-4 my-6 md:my-0">
                <a href="/cart" class="text-xl hover:text-cyan-500 duration-500 text-white">CART</a>
            </div>
            <div class="mx-4 my-6 md:my-0">
                <a href="/login" class="text-xl hover:text-cyan-500 duration-500 text-white">LOGIN</a>
            </div>
        </div>

    </div>
</nav>


<router-outlet></router-outlet>



<footer class="flex justify-between p-8 bg-purple-900 text-white " id="bot">

    <h1>BADGE MARKET</h1>

    <div class="flex justify-between space-x-4" >

        <div>
            <h1> A propos de nous</h1>
            <p>
                badge market est une entreprise
                qui fait dans la commercialisation
                et la conception des badges de toutes
                nature et forme
            </p>
        </div>

        <div class="">
            <h1> nous contacter:</h1>

            <a href="#">facebook</a><br>
            <a href="#">whatssap</a><br>
            <a href="#">twiter</a><br>
        </div>
        <div class="">
            <h1>
                nos services
            </h1>
        </div>


    </div>

</footer>