<div class="flex p-4 m-4 text-center justify-center text-4xl">
    <div class="">
        <img src="{{image}}" alt="" style="width: 100%;">
        <h1><b> {{title}}</b> </h1>
    </div>

    <div class="text-4xl">
        <p class="font-mono">
            badge market is a web site <br>where you can find your<br> proper badge or comand a <br>personilized badge.
        </p>

        <p class="text-yellow-600">
            <i><br>guest our products by cliking on this button </i>
            <button type="button" class="border-2 bg-white text-purple-900" id="but">
                <a href="/products">products</a>
            </button>
        </p>
    </div>
</div>
<!-- <app-product-pages></app-product-pages>
<app-cart></app-cart> -->