.all{
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    /* position: absolute; */
    display: flex;
    padding:100px;
}

.parent {
    /* height: 540px; */
    display: flex;
    /* background: linear-gradient(87deg, rgba(54, 208, 205, 0.9878151089537377) 0%, rgba(97, 151, 190, 0.8701680501302084) 38%, rgba(0, 255, 250, 1) 100%); */
    
}
.child{
    /* margin: 2rem; */
    /* text-align: left; */
    width: 500px;
    padding: 2rem;
    background: linear-gradient(87deg, rgba(54, 208, 205, 0.9878151089537377) 0%, rgba(97, 151, 190, 0.8701680501302084) 38%, rgba(0, 255, 250, 1) 100%);

}
form label{
     /* text-align: left; */
     /* align-items: left; */
     text-align: left;
     /* justify-content: left; */
}
.input{
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    height: 30px;
    width: 418px;
     text-align: left;
}
.boox{
    background: blue;
    color: white;
    width: 418px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
}
.good{
    /* outline:groove; */
    color:black;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-left: 1px solid;
    border-right: 1px solid ;
    border: width 225px;
    height: 3px;
}


.row-2{
    display: flex;
    /* gap: 1rem; */
    align-items: center;
    /* text-align: center; */
    justify-content: space-around;
    margin-left: -78px;
}
a{
    margin-top: 2px;

}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -78px;
}
.icons #icon{
    background-color: #fff;
    border: black 1px solid;
    padding: 10px;
    border-radius: 8px;
    width: 80px;
    height: 20px;
}