<div class="all">

    <img src="assets/SportsCo.png" alt="image" height="837.433" class="img">
    <div class="parent">

        <div class="child">
            <h1>Create an acount.</h1>
            <p>provide your details</p><br>

            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <label for="name"><b>Your name</b></label><br><br>
                <input type="name" placeholder="first last" class="input" formControlName="name" id="name"><br><br>
                <div class="" *ngIf="registerForm.controls['name'].errors">
                    {{ registerForm.getError('required') ? 'This field is required' : '' }}
                    {{ registerForm.getError('minLength') ? 'Please enter minimun 4 charactes' : '' }}
                    {{ registerForm.getError('maxLength') ? 'Please enter maximun 20 charactes' : '' }}
                </div>
                <label for="email"><b>Email</b></label><br><br>
                <input type="email" placeholder=" your@email.com" class="input" formControlName="email"
                    id="email"><br><br>
                <div class="" *ngIf="registerForm.controls['email'].errors">
                    {{ registerForm.getError('required') ? 'This field is required' : '' }}
                    {{ registerForm.getError('email') ? 'Email syntax error' : '' }}
                </div>
                <label for="password"><b>password</b></label><br><br>
                <input type="password" placeholder="by.Y0u02O" class="input" formControlName="password"
                    id="password"><br>
                <div class="" *ngIf="registerForm.controls['confirm_password'].errors">
                    {{ registerForm.getError('required') ? 'This field is required' : '' }}
                    {{ registerForm.getError('confirm_password') ? 'Email syntax error' : '' }}
                </div><br>
                <label for="confirm_password"><b>Confirm password</b></label><br><br>
                <input type="password" id="confirm_password" placeholder="Enter your password" class="input"
                    formControlName="confirm_password">
                <div class="" *ngIf="registerForm.controls['confirm_password'].errors">
                    {{ registerForm.getError('required') ? 'This field is required' : '' }}
                    {{ registerForm.getError('confirm_password') ? 'Email syntax error' : '' }}
                </div>


                <div class="" *ngIf="registerForm.getError('confirm_password')">
                    Password and confirm password field is not same
                </div>


                <div class="row-2">
                    <span> <input type="checkbox" class="check">By singing up i agree to the
                        <a href="/terms & conditions">terms & conditions</a> <br>and <a href="#">privacy policy</a></span>
                </div><br>

                <div><br>
                    <div *ngIf="saveError">{{ saveError }}</div>
                    <button type="submit" [disabled]="registerForm.invalid" class="boox">Create account</button><br>
                    <p class="good">OR</p>
                </div><br>
            </form><br>
            <div>


                <div class="icons">
                    <a href="#"><img src="assets/Google.svg" alt="" id="icon"></a>
                    <a href="#"><img src="assets/Facebook.svg" alt="" id="icon"></a>
                    <a href="#"><img src="assets/Apple.svg" alt="" id="icon"></a>
                </div>

                <p>Already a member?<a href="/login" routerLink="/login">sign in</a></p>

            </div>
        </div>
    </div>
</div>